/* Estilos para el listado de héroes */

.hover-effect:hover {
    /* Ligero aumento de tamaño al pasar el ratón para dar interactividad */
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}